body{
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
	user-select:none;
}
.mainContainer{
	background-color:#fff;
	margin:0;
	padding: 0;
	position: absolute;
	width: 100%;
}
	
.screen{
	background-image:url('../images/bg.jpg');
	background-position: center;
	margin:20px;
	width:auto;
	height:620px;
	box-shadow: 0px 0px 8px #666666;
	transition:1s;
}
.welcomeText{
	color: white;
	font-size: 52px;
	font-weight: 100;
	padding-top: 20px;
}
.customerType button{
	position: relative;
	width: 300px;
	margin: 0px 50px 0px 50px;
	background-color: #ff3636;
	font-size: 24px;
	border: none;
	outline: none;
	color: white;
	font-weight: 100;
	margin-top: 35px;
	padding: 10px;
	cursor:pointer;
	overflow: hidden;	
}
.customerType button:hover{
	background-color: #ff5858;
}
.customerType{
	position: absolute;
	width: 700px;
	left: 25%;
	top: 150px;
	transition:1s;
	transition-delay: .4s;
}
.formFirst, .formSecond{
	width: 500px;
	position: absolute;
	left: 35%;
	top: 1000px;
	transition:1s;
	transition-delay: .4s;

}

.formFirst input, .formSecond input{
	position: relative;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: white;
	line-height: 45px;
	font-size: 30px;
	margin-bottom: 10px;
	width: 500px;
	padding: 10px;
	background-color: transparent;
	outline: none;
	color: white;
	font-weight: 100;
}
.formFirst button,.formSecond button{
	position: relative;
	width: 100px;
	background-color: #ff3636;
	font-size: 28px;
	border: none;
	outline: none;
	color: white;
	font-weight: 100;
	margin-top: 25px;
	cursor:pointer;
	overflow: hidden;	
}
.header{
	position: relative;
	height: 80px;
	background-color: #ff3636;
	width: 100%;
	overflow: hidden;
}
.brand{
	float: right;
	padding: 0px 22px 0px 0px;
	display: none;
}
.welcome{
	font-size: 24px;
	line-height: 80px;
	padding-left: 20px;
	color: white;
	float: left;
	font-weight: 100;
}
.text .text1{
	width: 100%;
	padding: 5px 30px 5px 30px;
}
.ink{
	display: block; 
	position: absolute;
	background: hsl(180, 40%, 80%);
	border-radius: 100%;
	transform: scale(0);
	user-select:none;
}
.ink.animate{
	animation:ripple 0.65s linear;
}
@keyframes ripple{
	100%{opacity:0; transform:scale(2.5);}
}
.addOrder{
	position: relative;
	height: 540px;
	top: 110%;
	transition:1s;
	width:100%;
	background-color: rgba(0,0,0,.5);
}
.list{
	background-color: rgba(236,236,236,1);
	height: 540px;
	transition:1s;
}
.bill{
	background-color: rgba(236,236,236,1);
	height: 540px;
	transition:1s;
}
.item{
	position: relative;
	background-color: #ff3636;
	font-size: 18px;
	padding: 11px 0px 11px 30px;
	color: white;
	margin-top: 2px;
	user-select:none;
	cursor: pointer;
	overflow: hidden;
	font-weight: 200;
}
.item:hover{
	background-color: #fe6161;
	font-size: 20px;
	padding: 10px 0px 9px 32px;
	color: white;
	margin-top: 2px;
	user-select:none;
	cursor: pointer;
}
.itemDetail{
	width: 135px;
	height: 135px;
	background-color: white;
	padding:0px; 
	margin: 20px;
	background-size:cover;
	overflow: hidden;

}
.items{
	padding-top: 10px;
	left: 15px;
	transition:1s;
}
.name{
	padding: 10px;
	color: white;
	font-weight: 200;
	font-size: 20px;
}
.price{
	position: absolute;
	top:105px;
	left: 10px;
	width: 50px;
	color: white;
	font-weight: 500;
}
.circle{
	position: absolute;
	width: 35px;
	height: 35px;
	border-radius: 20px;
	background-color: #ff3636;
	background-image: url("../images/plus.png");
	background-size:cover;
	float: right;
	top: 95px;
	left: 95px;
	box-shadow: 1px 0px 10px black;
	cursor: pointer;
}
.coffee{
	width:60px;	
	padding-top: 10px;
	margin-left: 38%;
}
.billHeading{
	text-align: center;
	font-size: 20px;
}
.billDetailsHead, .billSummary{
	border-width: 1px 0px 1px 0px;
	border-color: #272727;
	border-style: dashed;
	margin: 10px 5px 0px 5px;
}
.billDetails{
	height:300px;
	color: black;
}
.proceedButton{
	position: absolute;
	top:100%;
	left:60%;
	transition:1s;
}
.proceedButton button {
	position: relative;
	width: 150px;
	background-color: #ff3636;
	font-size: 28px;
	border: none;
	outline: none;
	color: white;
	font-weight: 100;
	margin-top: 25px;
	cursor:pointer;
	overflow: hidden;	
}
.printButton{
	display: none;
	margin-left: 25px;
}
.printButton button{
	position: relative;
	width: 250px;
	background-color: #ff3636;
	font-size: 22px;
	border: none;
	outline: none;
	color: white;
	font-weight: 100;
	margin-top: 25px;
	cursor:pointer;
	overflow: hidden;	
}
.note{
	position: relative;
	height: 540px;
	left: 110%;
	transition:1s;
	width:100%;
	font-size: 38px;
	text-align: center;
	color: white;
	padding-top: 150px;
	font-weight: 100;
}
.homeButton button{
	position: relative;
	width: 150px;
	height: 65px;
	background-color: #ff3636;
	font-size: 32px;
	line-height: 42px;
	border: none;
	outline: none;
	color: white;
	font-weight: 100;
	margin-top: 25px;
	cursor:pointer;
	overflow: hidden;	
}